# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
.pyvenv.cfg
bin/
lib/
lib64/
include/
share/

# Environment Variables
.env

# ODT / Docs
*.doc
*.docx
*.odt

# OS / Editor Files
*.DS_Store
*.swp
*.tmp

# Logs
*.log

# IDEs
.vscode/
.idea/

# Cache & Build
*.egg-info/
dist/
build/

*pyvenv.cfg
*kafka
*kafka_2.13-3.4.0
*kafka-init.sh